.button {
  background:$purple;
  border:none;
  border-bottom:.2rem solid darken($purple, 7%);
  color:white;
  font-weight:500;
  padding: $s-size;
  outline:none;
}

.button--remove {
  background:none;
  border:none;
  color: $off-white;
  padding:0;
  margin: 5px;
}

.button--big {
  border-bottom:.3rem solid darken($purple, 7%);
  border-right:.1rem solid darken($purple, 7%);
  font-weight:bold;
  font-size: $l-size;
  width:100%;
  padding: 2.4rem;
  margin-bottom: $xl-size;
}

.button--big:disabled {
  opacity:0.5;
}

@media (max-width: $smartphone-breakpoint) {
  .button--big {
    margin-bottom: $l-size;
  }
}